BODY { background-color: #f0fff0; }
H1 {  font-family: arial, helvetica, sans-serif; }
H2 {  font-family: arial, helvetica, sans-serif; }
H3 {  font-family: arial, helvetica, sans-serif; }
H4 {  font-family: arial, helvetica, sans-serif; }
H5 {  font-family: arial, helvetica, sans-serif; }
H6 {  font-family: arial, helvetica, sans-serif; }

#.Tech { color: red; font-size: 85%; font-family: arial, helvetica, sans-serif; color: red; font-weight: normal; }
.History { color: red; font-size: 85%; font-family: arial, helvetica, sans-serif; color: red; font-weight: normal; }
.Using { color: red; font-size: 85%; font-family: arial, helvetica, sans-serif; color: red; font-weight: normal; }
.Misc { color: red; font-size: 85%; font-family: arial, helvetica, sans-serif; color: red; font-weight: normal; }
.Example { color: red; font-size: 85%; font-family: arial, helvetica, sans-serif; color: red; font-weight: normal; }
.TStart { color: brown; } 
.Tech:link { color: red; }
